
<div style="border: 1px solid black;height:30px;width:300px;text-align:center;margin-left:600px;margin-top:200px;">
    The current time and date:
</div>
<br><br>
<div style="border: 1px solid black;height:200px;width:600px;text-align:center;margin-left:450px;">
    <h1><%= @time.strftime("%b %d, %Y") %></h1>
	<h1><%= @time.strftime("%I:%M %p") %></h1>
</div>

